.aside{
  width: 250px;
  height:100vh;
  float: left;
  top:0;
  display: flex;
  position: fixed;
  flex-direction: column;
  overflow:scroll !important;
  background: hsl(10,50%,95%);
}

body{
  height: 200vh;
}
.details{
  cursor:pointer;
  position: relative;
}
.details:after{
  bottom: 0;
  left: 0;
  position: absolute;
  content:'';
  width: 100%;
  height: 1.5px;
  transition: transform .25s;
  background: #000;
  transform: scaleX(0);
}
.details:hover:after{
  transform:scaleX(1)
}

.patientsList .patient:first-child{
  margin-top: 70px;
}
.patientsList{
  //overflow: scroll !important;
  float: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:20px;
  align-items: center;
  width: 100%;
  margin: 20px 0px;
}
.aside{
  float: left;
}
.patientsList .patient{
  width: 90%;
  border-radius: 10px;
  background: lightgreen;
  min-height: 125px;
  padding: 10px;
}
@for $i from 1 to 11{
  .patient{
    background: hsl(calc($i*(360 / 11)),50%,50%);
  }


}
.aside::-webkit-scrollbar{
  //width: 0em;
}
.aside ul{
  display: flex;
  flex-direction: column;
  width: 100%;
}

