.avatar{
  width: 150px;
  border-radius: 7px;
  height: 150px;
  background: #000;
  img{
    width: 100%;
    height: 100%;
    border-radius:inherit;
  }
}

.biography{
  display: flex;
  height: auto;
}
.scrollToTop{
  bottom: 50px;
  right: 50px;
  position: fixed;
  width: 50px;
  height: 50px;
  border-radius:50%;
  background: #eee;
  display: grid;
  place-items:center;
  font-size: 30px;
  color: #6054ff;
  opacity: 0;
  font-weight: bold;
  transition: all .25s;
  cursor: pointer;
  pointer-events: none;
}



.scrollToTop.scrolled{
  animation: scroll .25s forwards;
}
html{
  scroll-behavior: smooth;
}
@keyframes scroll {
  from{
    transform:translateX(-40px);
  }
  to{
    opacity: 1;
    pointer-events: initial;
    transform:translateX(0);
  }
}
.main{
  box-sizing: border-box;
}

.scrollToTop:hover{
  box-shadow: 0px 0px 10px 3px #ccc;
}


.editBtn.focused button:first-child > span{
  transform:translateY(-50px) !important;
}
.editBtn.focused button:first-child{
  box-shadow: none !important;
  opacity: 0;
}
.editBtn button:last-child{
  border-radius: 0 5px 5px 0;
  transform: translateX(25px);
}
.editBtn button{
  //transition: all .25s !important;
}
.editBtn.focused button:not(:first-child,:last-child){
  animation: yaUstalYaUhoju .25s .5s forwards;
}
.editBtn.focused button:last-child{
  animation: yaUstalYaUhoju2 .25s .5s forwards, color .25s 1s forwards;
}
@keyframes spanchik {
  to{
    transform: unset;
  }
}

.editBtn button:not(:first-child,:last-child){
  border-radius: 5px 0 0 5px;
  transform: translateX(-25px) ;

}
.editBtn.focused button:not(:first-child) span{
  animation: spanchik .5s 1s forwards;
}

.editBtn button:not(:first-child) span{
  transform: translateY(-50px);
}
@keyframes yaUstalYaUhoju {
  to{
    border-radius: 5px ;
    transform:translateX(-37.5px) ;
  }
}
@keyframes yaUstalYaUhoju2 {
  to{
    border-radius: 5px ;
    transform:translateX(37.5px) ;
  }
}
.editBtn{
  position: relative;
}
.editBtn.focused button:first-child{
  pointer-events: none !important;
}
@keyframes color {
  to{
    background: hsl(200,50%,50%);
    box-shadow:0 5px 0 0 hsl(200,50%,40%) ;
  }
}
@keyframes bxshd {
  to{
    box-shadow: 0 2px 0 0 hsl(200,50%,40%);
  }
}

.editBtn.focused button:not(:first-child,:last-child):active{
  box-shadow: 0 2px 0 0 firebrick ;
  margin-top: 2px;
}
.editBtn.focused button:last-child:active{
  margin-top: 2px;
  animation: yaUstalYaUhoju2 .25s .5s forwards, color .25s 1s forwards,bxshd .25s forwards;

}
.editBtn.focused button:not(:first-child){
  pointer-events: all;
}
.editBtn button:not(:first-child){
  overflow: hidden;
  position: absolute;
  display: initial;
  width: 50px;
  height: 40px;
  font-size: 10px;
  //border-radius: 5px;
  background: orangered;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: 0px 5px 0px 0px firebrick;
  border: none;
  transition: all .2s ;
  cursor: pointer;

}
.editBtn button span{
  display: inline-block;
  transition: all .25s !important;
}
.editBtn button:first-child{
  overflow: hidden;
  position: absolute !important;
  z-index: 1 !important;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  background: orangered;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: 0px 5px 0px 0px firebrick;
  border: none;
  transition: all .25s;
  cursor: pointer;
}
.editBtn button:last-child i{
  font-size: 20px;
  transform: translate(calc(-50% - 40px),-50%);
  top:50%;
  left:50%;
  transition: transform .25s;
  position: absolute;
}
.editBtn button:not(:first-child,:last-child) i{
  font-size: 25px;
  transform: translate(calc(-50% + 45px),-50%);
  top:50%;
  left:50%;
  transition: transform .25s;
  position: absolute;
}
.editBtn button:last-child:hover i,.editBtn button:first-child:hover i{
  transform: translate(-50%,-50%);
}

.editBtn button:last-child:hover span{
  margin-right: -80px;
  //transform: translateX(40px) !important;
}
.editBtn button:not(:first-child,:last-child):hover span{
  margin-left: -90px;
}

.editBtn button:first-child:active{
  transform: translateY(3px);
  box-shadow: 0px 2px 0px 0px firebrick;
}

.biography .editBtn{
  position:relative;
  margin-left: auto;
  width: 150px;
  margin-top: 10px;
  margin-right: 10px;
  height: 80px;
  flex-shrink: 0;
  transition: gap .25s !important;
  justify-content: center;
  align-items: center;
  display: flex;
}
.enclosed{
  box-sizing: border-box;
  outline: none;
}
.biography .data{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  gap:10px;
}
.data > h4{
  margin-top: auto;
  margin-bottom: 20px;
}
.data > div > h4:first-child{
}
.biography .data div{
  display: flex;
  gap:50px;
}

* {

}

@font-face {
  font-family: HueFont;
  //src: url("../../AvenirNextLTPro-Regular.otf") format("opentype");
  src: url("../../Avenir_Next.ttc");
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  //font-family: "Avenir Next";
  font-family: HueFont !important;
  font-weight: 200 !important;
}
